<h1>Welcome to MixTape!</h1>
<% if logged_in? %>
  <h3>Head to your profile to get started uploading songs and making mixes</h3>
  <h3>Or head to the users page to make some friends and see their music</h3>
<% else %>
  <div class="row">
    <div class="col-lg-6">
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>